@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Varela Round", sans-serif !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.call-me-web {
  cursor: pointer;
}

.call-me-web:focus {
  outline: none;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
  border-radius: 50%;
  margin-top: 20px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .m-category-layout {
    margin-top: 30px;
  }
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
  box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1ba8ff;
  box-shadow: 0 0 0 #1ba8ff;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #1ba8ff;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo_footer.png);
  height: calc(56px*4);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

#menu #menu_top {
  background-color: #F2F2F2;
}

#menu #menu_top img.menu_logo {
  height: 50px;
}

#menu #menu_top ul.menu-search {
  display: block;
  height: 46px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

#menu #menu_top ul.menu-search li input {
  height: 49px;
  width: 100%;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #333333;
  border: none;
}

#menu #menu_top ul.menu-search li a {
  padding: 15px;
  background-color: #f2b142;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 47px;
  float: left;
}

#menu #menu_logo_center img {
  width: inherit;
}

#menu #menu_bottom {
  background-color: green;
}

#menu #menu_bottom .is_active {
  background-color: #f2b142;
}

#menu #menu_bottom ul.main_menu {
  display: block;
}

#menu #menu_bottom ul.main_menu li {
  display: inline-block;
  padding: 15px;
  position: relative;
}

#menu #menu_bottom ul.main_menu li i {
  color: white;
  font-size: 16px;
  padding-right: 6px;
}

#menu #menu_bottom ul.main_menu li a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

#menu #menu_bottom ul.main_menu li:hover {
  background-color: #f2b142;
}

#menu #menu_bottom ul.main_menu li.has-item-down {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul {
  position: absolute;
  opacity: 0;
  display: none;
  background-color: #f2b142;
  top: 100%;
  left: 0;
  z-index: 9;
  width: 160%;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li {
  display: block;
  padding-left: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li:hover {
  padding-left: 20px;
}

#menu #menu_bottom ul.main_menu li.has-item-down:hover > ul {
  display: block;
  opacity: 1;
}

#menu #menu_bottom ul.main_menu ul.menu-search {
  display: block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search {
  padding: 0;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search input {
  height: 46px;
  width: 100%;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #333333;
  border: 1px solid #dbbc85;
  border-left: none;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search a {
  padding: 16px;
  background-color: #f2b142;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 46px;
}

#bg_dichvu {
  position: relative;
  background-size: cover;
  background-position: center center;
  padding-top: 96px;
  padding-bottom: 106px;
}

#bg_dichvu p {
  color: red;
  font-size: 56px;
  font-weight: 600;
  padding: 38px 0 16px 0;
  text-transform: uppercase;
}

#bg_dichvu span {
  color: white;
  font-size: 13px;
}

#bg_dichvu span a {
  color: white;
}

.table-thucdon {
  width: 98% !important;
  margin: auto !important;
}

.table-thucdon tr td {
  line-height: 1.7;
}

.table-thucdon tr td:not(:last-child) {
  width: 60%;
}

.table-thucdon tr td:last-child {
  width: 40%;
  text-align: right;
}

@media only screen and (max-width: 1300px) {
  #bg_dichvu {
    margin-top: 0px;
  }
}

#common-service .one-item, #common-service-2 .one-item {
  padding: 48px 15px 38px 15px;
  border: double 4px #ddd;
  margin-bottom: 40px;
}

#common-service .one-item .icon-top, #common-service-2 .one-item .icon-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 48px;
}

#common-service .one-item .icon-top i, #common-service-2 .one-item .icon-top i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #d4b01e;
  background-color: white;
  width: 115px;
  height: 115px;
  color: #d4b01e;
}

#common-service .one-item .info, #common-service-2 .one-item .info {
  text-align: center;
  line-height: 1.5;
  color: white;
}

#common-service .one-item .info h4, #common-service-2 .one-item .info h4 {
  margin: 20px 0;
  font-size: 36px;
}

#common-service .one-item .view-more, #common-service-2 .one-item .view-more {
  text-align: center;
  margin-top: 40px;
}

#common-service .one-item .view-more a, #common-service-2 .one-item .view-more a {
  color: white;
  font-size: 12px;
  border: 1px solid #636363;
  padding: 15px 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

#common-service .one-item .view-more a:after, #common-service-2 .one-item .view-more a:after {
  content: '';
  position: absolute;
  background-color: #636363;
  height: 0;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  z-index: -1;
}

#common-service .one-item:hover, #common-service-2 .one-item:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: white;
  border: double 4px #007bff;
}

#common-service .one-item:hover .icon-top i, #common-service-2 .one-item:hover .icon-top i {
  color: #007bff;
}

#common-service .one-item:hover .info, #common-service-2 .one-item:hover .info {
  color: #007bff;
}

#common-service .one-item:hover .view-more a, #common-service-2 .one-item:hover .view-more a {
  color: #007bff;
}

#common-service .one-item:hover .view-more a:hover, #common-service-2 .one-item:hover .view-more a:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
}

#common-service .one-item:hover .view-more a:hover:after, #common-service-2 .one-item:hover .view-more a:hover:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 80%;
}

#h_1 #gioi_thieu {
  border: 3px solid white;
  padding: 20px;
  color: white;
}

#h_1 #gioi_thieu a {
  color: red;
}

#h_1 #gioi_thieu a h6 {
  font-size: 28px;
  padding-bottom: 20px;
  font-weight: 600;
}

#h_1 p {
  line-height: 26px;
}

#h_1 p a {
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_1 p a:hover {
  color: #dbbc85;
}

#h_1 #thuvien_hinhanh {
  width: 100%;
  height: 296px;
  overflow: hidden;
  position: relative;
}

#h_1 #thuvien_hinhanh .img-daidien {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_1 #thuvien_hinhanh .img-daidien .img-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_1 #thuvien_hinhanh .img-daidien .img-overlay a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: #007bff;
  font-size: 11px !important;
  background-color: #fff;
  border-radius: 20px;
  /*border-radius: 12px;*/
  padding: 10px 12px 8px 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  font-weight: normal;
}

#h_1 #thuvien_hinhanh .img-daidien .img-overlay a:hover {
  background-color: #007bff;
  color: white;
}

#h_1 #thuvien_hinhanh .img-daidien:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#h_1 #thuvien_hinhanh .img-daidien:hover .img-overlay {
  opacity: 1;
}

#h_1 #thuvien_hinhanh:before {
  z-index: 2;
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  top: 10px;
  left: 10px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_1 #thuvien_hinhanh:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 2;
}

#h_1 #thuvien_hinhanh:hover:after {
  width: 68px;
  height: 68px;
  opacity: 1;
}

#h_1 #thuvien_hinhanh:hover:before {
  width: 68px;
  height: 68px;
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  #h_1 #gioi_thieu {
    margin-bottom: 20px;
  }
}

#h_2 #bg_dichvu2 {
  background-size: cover;
  background-position: center center;
  /*background-attachment: fixed;*/
}

#h_2 #bg_dichvu2 p {
  color: white !important;
  font-size: 68px !important;
  font-weight: 600;
  padding: 118px 0;
  text-transform: uppercase;
}

#h_2 .dv-content {
  min-height: 380px;
  overflow: hidden;
  position: relative;
}

#h_2 .dv-content #hoi_nghi {
  background-size: cover;
  background-position: center center;
  min-height: 380px;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_2 .dv-content #tiec_cuoi {
  background-size: cover;
  background-position: center center;
  min-height: 380px;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_2 .dv-content #su_kien {
  background-size: cover;
  background-position: center center;
  min-height: 380px;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_2 .dv-content #tiec_ngoai_troi {
  background-size: cover;
  background-position: center center;
  min-height: 380px;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_2 .dv-content:hover div {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#h_2 .dv-content p {
  width: 100%;
  display: inline;
  font-size: 27px;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 0px 0px 1px white;
  text-transform: uppercase;
}

#h_3 h5 {
  font-size: 36px;
  font-weight: bold;
  color: #007bff;
}

#h_3 .tin-tuc {
  width: 90%;
  margin: auto;
}

#h_3 .tin-tuc h3 {
  color: #dbbc85;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
  min-height: 73px;
  max-height: 73px;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#h_3 .tin-tuc p {
  color: white;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  line-height: 24px;
}

#h_3 .tin-tuc .btn-docthem {
  padding: 10px 18px 8px 18px;
  background-color: #007bff;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_3 .tin-tuc .btn-docthem a {
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 10px 16px;
}

#h_3 .tin-tuc .btn-docthem a:hover {
  background-color: transparent;
}

#h_3 .tin-tuc .btn-docthem a:hover a {
  color: white;
}

#h_3 .tin-tuc .img-tin-tuc {
  width: 100%;
  min-height: 238px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 800px) {
  #h_3 .tin-tuc {
    margin-bottom: 38px;
  }
}

#h_4 h5 {
  font-size: 30px;
  font-weight: bold;
  color: #007bff;
}

#h_4 #owl_ykkh .owl-items img {
  width: 138px;
  height: 138px;
  border-radius: 50%;
  margin: auto;
}

#h_4 #owl_ykkh .owl-items h5 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
  /*margin: auto;*/
  margin-left: 20px;
}

#h_4 #owl_ykkh .owl-items p {
  color: white;
  line-height: 20px;
  padding-bottom: 10px;
  width: 90%;
  margin: auto;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_4 #owl_ykkh .owl-items span {
  color: white;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  #h_4 #owl_ykkh .owl-items p {
    width: 100%;
  }
  #h_4 #owl_ykkh .owl-items h5 {
    margin-top: 20px;
    margin-left: 0;
    margin: auto;
  }
}

#h_5 h5 {
  font-size: 28px;
  font-weight: bold;
  color: #007bff;
}

#h_5 #owl_doitac .owl-items {
  margin-bottom: 20px;
}

#h_5 #owl_doitac .owl-items .owl-img {
  width: 138px;
  height: 138px;
  /*border-radius: 50%;*/
  margin: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#c_1 #bg_dichvu {
  background-size: cover;
  background-position: center center;
  /*background-attachment: fixed;*/
  padding-bottom: 30px;
}

#c_1 #bg_dichvu p {
  color: white;
  font-size: 58px;
  font-weight: 600;
  padding: 38px 0 16px 0;
}

#c_1 #bg_dichvu span {
  color: white;
  font-size: 13px;
}

#c_1 #bg_dichvu span a {
  color: white;
}

#c_1 #noidung h5 {
  color: white;
  font-size: 26px;
  padding-bottom: 18px;
}

#c_1 #noidung h6 {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: lighter;
  color: #dbbc85;
}

#c_1 #noidung p {
  color: white;
  line-height: 24px;
  padding-bottom: 20px;
}

#c_1 #noidung span {
  color: red;
}

#c_1 #noidung a {
  background-color: #dbbc85;
  color: #2a2a2a;
  font-weight: 600;
  padding: 8px 20px 6px 20px;
  border-radius: 8px;
}

#c_1 #noidung input {
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

#c_1 #noidung input:focus {
  outline: none;
}

#c_1 #noidung textarea {
  width: 100%;
  border-radius: 5px;
}

#g_1 #bg_dichvu {
  background-size: cover;
  background-position: center center;
  /*background-attachment: fixed;*/
  padding-bottom: 30px;
}

#g_1 #bg_dichvu p {
  color: white;
  font-size: 58px;
  font-weight: 600;
  padding: 38px 0 16px 0;
}

#g_1 #bg_dichvu span {
  color: white;
  font-size: 13px;
}

#g_1 #bg_dichvu span a {
  color: white;
}

#g_1 #noidung h5 {
  font-size: 22px;
  padding-bottom: 38px;
}

#g_1 #noidung p {
  color: white;
  line-height: 24px;
  padding-bottom: 20px;
}

#g_1 #noidung h6 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 22px;
  color: red;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 3px solid #dbbc85 !important;
  /*background-color: #f1f1f1;*/
  color: white;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  color: white;
  text-transform: uppercase;
}

.tab button:hover {
  color: red !important;
}

.tab button.active {
  /*background-color: #ccc;*/
  color: red !important;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;
  padding-top: 30px;
}

.tabcontent .one-images {
  min-height: 218px;
  /*width: 90%;*/
  margin: auto;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

#s_1 #bg_dichvu {
  background-size: cover;
  background-position: center center;
  /*background-attachment: fixed;*/
}

#s_1 #bg_dichvu p {
  color: white;
  font-size: 58px;
  font-weight: 600;
  padding: 38px 0 16px 0;
}

#s_1 #bg_dichvu span {
  color: white;
  font-size: 13px;
}

#s_1 #bg_dichvu span a {
  color: white;
}

#s_1 .dv-content {
  min-height: 380px;
  overflow: hidden;
  position: relative;
}

#s_1 .dv-content:hover div {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#s_1 .dv-content #hoi_nghi {
  background-size: cover;
  background-position: center center;
  min-height: 380px;
  -webkit-transition: .3s;
  transition: .3s;
}

#s_1 .dv-content #tiec_cuoi {
  background-size: cover;
  background-position: center center;
  min-height: 380px;
  -webkit-transition: .3s;
  transition: .3s;
}

#s_1 .dv-content #su_kien {
  background-size: cover;
  background-position: center center;
  min-height: 380px;
  -webkit-transition: .3s;
  transition: .3s;
}

#s_1 .dv-content #tiec_ngoai_troi {
  background-size: cover;
  background-position: center center;
  min-height: 380px;
  -webkit-transition: .3s;
  transition: .3s;
}

#s_1 .dv-content p {
  width: 100%;
  display: inline;
  font-size: 26px;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

#sd_1 #bg_dichvu {
  background-size: cover;
  background-position: center center;
  /*background-attachment: fixed;*/
  padding-bottom: 30px;
}

#sd_1 #bg_dichvu p {
  color: white;
  font-size: 58px;
  font-weight: 600;
  padding: 38px 0 16px 0;
}

#sd_1 #bg_dichvu span {
  color: white;
  font-size: 13px;
}

#sd_1 #bg_dichvu span a {
  color: white;
}

#sd_1 #noidung h5 {
  font-size: 22px;
  padding-bottom: 38px;
}

#sd_1 #noidung h6 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 22px;
  color: #dbbc85;
}

#sd_1 #noidung p {
  color: white;
  line-height: 24px;
  padding-bottom: 20px;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel {
  position: relative;
  margin-bottom: 20px;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel:hover .nav-arrow button.owl-prev, #sd_1 #noidung #sd-bottom .sd-bottom-carousel:hover .nav-arrow button.owl-next {
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-prev, #sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-next {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 0;
  opacity: 0;
  border: 1px solid #e4e4e4;
  position: absolute;
  transition: all 0.2s;
  z-index: 900;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  outline: none;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-prev i, #sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-next i {
  color: #e4e4e4;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-prev {
  left: 0;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-next {
  right: 0;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel .one-item a img.img-one-project {
  width: 100%;
  height: auto;
}

#sd_1 #noidung .favor-include {
  margin-top: 60px;
  font-size: 30px;
}

#sd_1 #noidung .favor-include .title-header {
  margin-bottom: 60px;
}

#sd_1 #noidung .favor-include .title-header p.title {
  text-align: center;
  color: red;
}

#sd_1 #noidung .favor-include .title-header span {
  text-align: center;
  font-size: 36px;
  color: red;
  display: block;
}

#u_1 #bg_dichvu {
  background-size: cover;
  background-position: center center;
  /*background-attachment: fixed;*/
  padding-bottom: 30px;
}

#u_1 #bg_dichvu p {
  color: white;
  font-size: 58px;
  font-weight: 600;
  padding: 38px 0 16px 0;
}

#u_1 #bg_dichvu span {
  color: white;
  font-size: 13px;
}

#u_1 #bg_dichvu span a {
  color: white;
}

#u_1 #noidung h5 {
  font-size: 22px;
  padding-bottom: 28px;
}

#u_1 #noidung p {
  color: white;
  line-height: 24px;
  padding-bottom: 5px;
}

#u_1 #noidung h6 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: lighter;
  color: #21b6ff;
}

#u_1 #noidung span {
  color: white;
}

#u_1 #noidung a {
  color: red;
  font-weight: bold;
  -webkit-text-decoration: #21b6ff;
          text-decoration: #21b6ff;
}

#u_1 ul.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#u_1 ul.pagination li {
  border: 1px solid #21b6ff;
  padding: 10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 3px solid #21b6ff;
  /*background-color: #f1f1f1;*/
  color: white;
  text-align: left;
}

.tab button {
  background-color: inherit;
  /*float: left;*/
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  color: white;
  text-transform: uppercase;
}

.tab button:hover {
  color: red !important;
}

.tab button.active {
  /*background-color: #ccc;*/
  color: red !important;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;
  padding-top: 30px;
}

.tabcontent .img-content {
  min-height: 356px;
  /*width: 90%;*/
  margin: auto;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

@media only screen and (max-width: 800px) {
  .tab {
    text-align: center;
  }
}

#ud_1 #bg_dichvu {
  background-size: cover;
  background-position: center center;
  /*background-attachment: fixed;*/
  padding-bottom: 30px;
}

#ud_1 #bg_dichvu p {
  color: white;
  font-size: 58px;
  font-weight: 600;
  padding: 38px 0 16px 0;
}

#ud_1 #bg_dichvu span {
  color: white;
  font-size: 13px;
}

#ud_1 #bg_dichvu span a {
  color: white;
}

#ud_1 #noidung h1 {
  /*padding-top: 10px;*/
  padding-bottom: 20px;
  font-size: 20px;
  color: red;
  font-weight: bold;
}

#ud_1 #noidung h2 {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: lighter;
  color: white;
  line-height: 26px;
}

#ud_1 #noidung h5 {
  font-size: 22px;
  padding-bottom: 38px;
}

#ud_1 #noidung h6 {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: lighter;
  color: #21b6ff;
}

#ud_1 #noidung p {
  color: white;
  line-height: 24px;
  padding-bottom: 20px;
}

#ud_1 #noidung ul {
  list-style-type: circle;
}

#ud_1 #noidung span {
  color: white;
}

#ud_1 #noidung a {
  color: white;
  /*text-decoration: #f9bf80;*/
}

#footer {
  background-color: black;
}

#footer #footer_content {
  margin: auto;
  text-align: center;
}

#footer #footer_content h5 {
  color: white;
  padding-top: 38px;
  padding-bottom: 20px;
  font-size: 21px;
}

#footer #footer_content h4 {
  color: #dbbc85;
  font-size: 22px;
  padding-bottom: 6px;
}

#footer #footer_content h3 {
  font-size: 20px;
  color: #dbbc85;
  padding-bottom: 6px;
  line-height: 28px;
}

#footer #footer_content p {
  color: white;
  padding-bottom: 8px;
  line-height: 20px;
  font-size: 18px;
}

#footer #footer_content p a {
  color: white;
}

#footer #footer_content p:last-child {
  padding-top: 68px;
}

#footer #sc_network a i {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  color: #2a2a2a;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 10px;
}

#footer #sc_network a i.fa-facebook-f {
  background-color: #0e5bc0;
  color: white;
}

#footer #sc_network a i.fa-instagram {
  /*background-color: #42aaf3;*/
  background-size: 100% 100%;
  background-position: center center;
  color: white;
}

#footer #sc_network a i.fa-youtube {
  background-color: #e71b06;
  color: white;
}

#menu {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  text-align: center;
  /*box-shadow: 0px 0px 2px 0px #6c757d;*/
}

#menu.stuck {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-animation: stuckMoveDown .6s;
          animation: stuckMoveDown .6s;
  z-index: 999;
}

#menu #logo img {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 108px;
  height: auto;
}

#menu #sc_network a i {
  font-weight: normal;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 10px;
}

#menu #sc_network a i.fa-facebook-f {
  background-color: #0e5bc0;
}

#menu #sc_network a:hover i.fa-facebook-f {
  background-color: #0e5bc0;
}

#menu #sc_network a:hover i.fa-instagram {
  background-color: #42aaf3;
}

#menu #sc_network a i.fa-instagram {
  background-size: 100% 100%;
  background-position: center center;
}

#menu #sc_network a:hover i.fa-youtube {
  background-color: #e71b06;
}

#menu #sc_network a i.fa-youtube {
  background-color: #e71b06;
}

#menu #menu_content ul#main {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu #menu_content ul#main li {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 18px;
  z-index: 12;
}

#menu #menu_content ul#main li a {
  font-weight: 600;
  font-size: 15px;
  color: #444647;
  padding: 38px 0px;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

#menu #menu_content ul#main li a:hover {
  color: #007bff;
  /*background-color: #0e5bc0;*/
  /*padding:20px;*/
}

#menu #menu_content ul#main li:nth-last-child(2) {
  padding: 0px 3px !important;
}

#menu #menu_content ul#main li:nth-last-child(2) a {
  font-weight: 500;
  color: #fff;
  background-color: #036ecf;
  padding: 12px 12px 10px 12px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu #menu_content ul#main li:nth-last-child(2) a:hover {
  background-color: #007bff;
}

#menu #menu_content ul#main li a.active {
  color: #007bff;
}

#menu #menu_content ul#main li .dv_overlay {
  z-index: 10 !important;
  position: relative !important;
}

#menu #menu_content ul#main li .dv_overlay:hover ul.dv-content {
  position: absolute;
  opacity: 1;
  top: 100%;
  height: auto;
  z-index: -1;
}

#menu #menu_content ul#main li .dv_overlay:hover ul.dv-content li {
  display: block;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content {
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #fff;
  width: 238px;
  height: 0;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: .3s;
  z-index: -1;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li {
  position: relative;
  z-index: -1;
  display: none;
  padding: 10px 10px;
  border-bottom: 1px solid #dbbc85;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li:last-child {
  border-bottom: none !important;
  margin-bottom: 6px;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li a.sub-menu {
  padding: 6px 10px !important;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li:nth-last-child(2) {
  padding: 10px 10px !important;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li:nth-last-child(2) a.sub-menu {
  font-weight: 600 !important;
  background-color: transparent;
  color: #2a2a2a;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li:nth-last-child(2) a:hover {
  color: #007bff;
}

@-webkit-keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#hera_mobile_menu {
  display: none;
}

#hera_mobile_menu #logo img {
  width: 100px;
  height: auto;
}

#hera_mobile_menu a {
  padding: 8px 5px;
}

.li-overlay {
  cursor: pointer;
}

.li-overlay:hover .li-content {
  display: block;
}

.li-overlay .li-content {
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
  display: none;
  padding: 10px 0px 0px 13px;
}

.li-overlay .li-content ul li a {
  background-color: transparent !important;
  color: #2a2a2a !important;
  padding-left: 0px !important;
}

#hera_mobile_menu_content {
  width: 100%;
  height: auto;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  -webkit-box-shadow: 0px 0px 2px 0px #2a2a2a;
          box-shadow: 0px 0px 2px 0px #2a2a2a;
  transition: .3s;
  top: 80%;
  opacity: 0;
  z-index: -30;
}

#hera_mobile_menu_content ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

#hera_mobile_menu_content ul li {
  width: 100%;
  padding: 10px 20px;
}

#hera_mobile_menu_content ul li:nth-last-child(3) a {
  padding: 10px 20px;
  background-color: #0f74a8;
  color: white;
  border-radius: 5px;
}

#hera_mobile_menu_content ul li a {
  color: #2a2a2a;
  font-size: 18px;
  text-transform: uppercase;
}

#hera_mobile_menu_content ul li a:hover {
  color: #21b6ff;
}

#hera_mobile_menu_content ul li a i {
  height: 38px;
  width: 38px;
  color: white;
  border-radius: 50%;
  line-height: 38px;
}

#hera_mobile_menu_content ul li a i.fa-facebook-f {
  background-color: #0e5bc0;
}

#hera_mobile_menu_content ul li a i.fa-instagram {
  background-size: 100% 100%;
  background-position: center center;
  color: white;
}

#hera_mobile_menu_content ul li a i.fa-youtube {
  background-color: #e71b06;
}

#hera_mobile_menu_content ul li a.active {
  color: #21b6ff;
}

#hera_mobile_menu_content ul li p {
  font-size: 20px;
  color: #0f74a8;
}

#hera_mobile_menu_content ul li p span {
  color: #2a2a2a;
}

#hera_mobile_menu_content ul li p i {
  height: 38px;
  width: 38px;
  background-color: #0f74a8;
  color: white;
  border-radius: 50%;
  line-height: 38px;
}

#demo, #demo2, #demo3 {
  height: 0;
  padding-left: 38px;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  -webkit-transition: 1s;
  transition: 1s;
}

#demo a, #demo2 a, #demo3 a {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #2a2a2a;
}

@media only screen and (max-width: 1300px) {
  #hera_mobile_menu {
    display: block;
  }
  #menu {
    display: none;
  }
}
