#sd_1 #bg_dichvu {
  background-size: cover;
  background-position: center center;
  /*background-attachment: fixed;*/
  padding-bottom: 30px;
}

#sd_1 #bg_dichvu p {
  color: white;
  font-size: 58px;
  font-weight: 600;
  padding: 38px 0 16px 0;
}

#sd_1 #bg_dichvu span {
  color: white;
  font-size: 13px;
}

#sd_1 #bg_dichvu span a {
  color: white;
}

#sd_1 #noidung h5 {
  font-size: 22px;
  padding-bottom: 38px;
}

#sd_1 #noidung h6 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 22px;
  color: #dbbc85;
}

#sd_1 #noidung p {
  color: white;
  line-height: 24px;
  padding-bottom: 20px;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel {
  position: relative;
  margin-bottom: 20px;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel:hover .nav-arrow button.owl-prev, #sd_1 #noidung #sd-bottom .sd-bottom-carousel:hover .nav-arrow button.owl-next {
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-prev, #sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-next {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 0;
  opacity: 0;
  border: 1px solid #e4e4e4;
  position: absolute;
  transition: all 0.2s;
  z-index: 900;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  outline: none;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-prev i, #sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-next i {
  color: #e4e4e4;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-prev {
  left: 0;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel .nav-arrow button.owl-next {
  right: 0;
}

#sd_1 #noidung #sd-bottom .sd-bottom-carousel .one-item a img.img-one-project {
  width: 100%;
  height: auto;
}

#sd_1 #noidung .favor-include {
  margin-top: 60px;
  font-size: 30px;
}

#sd_1 #noidung .favor-include .title-header {
  margin-bottom: 60px;
}

#sd_1 #noidung .favor-include .title-header p.title {
  text-align: center;
  color: red;
}

#sd_1 #noidung .favor-include .title-header span {
  text-align: center;
  font-size: 36px;
  color: red;
  display: block;
}
