#u_1 #bg_dichvu {
  background-size: cover;
  background-position: center center;
  /*background-attachment: fixed;*/
  padding-bottom: 30px;
}

#u_1 #bg_dichvu p {
  color: white;
  font-size: 58px;
  font-weight: 600;
  padding: 38px 0 16px 0;
}

#u_1 #bg_dichvu span {
  color: white;
  font-size: 13px;
}

#u_1 #bg_dichvu span a {
  color: white;
}

#u_1 #noidung h5 {
  font-size: 22px;
  padding-bottom: 28px;
}

#u_1 #noidung p {
  color: white;
  line-height: 24px;
  padding-bottom: 5px;
}

#u_1 #noidung h6 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: lighter;
  color: #21b6ff;
}

#u_1 #noidung span {
  color: white;
}

#u_1 #noidung a {
  color: #21b6ff;
  -webkit-text-decoration: #21b6ff;
          text-decoration: #21b6ff;
}

#u_1 ul.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#u_1 ul.pagination li {
  border: 1px solid #21b6ff;
  padding: 10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 3px solid #21b6ff;
  /*background-color: #f1f1f1;*/
  color: white;
  text-align: left;
}

.tab button {
  background-color: inherit;
  /*float: left;*/
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  color: white;
  text-transform: uppercase;
}

.tab button:hover {
  color: #21b6ff;
}

.tab button.active {
  /*background-color: #ccc;*/
  color: #21b6ff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;
  padding-top: 30px;
}

.tabcontent .img-content {
  min-height: 356px;
  /*width: 90%;*/
  margin: auto;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

@media only screen and (max-width: 800px) {
  .tab {
    text-align: center;
  }
}
