#menu {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  text-align: center;
  /*box-shadow: 0px 0px 2px 0px #6c757d;*/
}

#menu.stuck {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-animation: stuckMoveDown .6s;
          animation: stuckMoveDown .6s;
  z-index: 999;
}

#menu #logo img {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 108px;
  height: auto;
}

#menu #sc_network a i {
  font-weight: normal;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 10px;
}

#menu #sc_network a i.fa-facebook-f {
  background-color: #0e5bc0;
}

#menu #sc_network a:hover i.fa-facebook-f {
  background-color: #0e5bc0;
}

#menu #sc_network a:hover i.fa-instagram {
  background-color: #42aaf3;
}

#menu #sc_network a i.fa-instagram {
  background-size: 100% 100%;
  background-position: center center;
}

#menu #sc_network a:hover i.fa-youtube {
  background-color: #e71b06;
}

#menu #sc_network a i.fa-youtube {
  background-color: #e71b06;
}

#menu #menu_content ul#main {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu #menu_content ul#main li {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 18px;
  z-index: 12;
}

#menu #menu_content ul#main li a {
  font-weight: 600;
  font-size: 15px;
  color: #444647;
  padding: 38px 0px;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

#menu #menu_content ul#main li a:hover {
  color: #007bff;
  /*background-color: #0e5bc0;*/
  /*padding:20px;*/
}

#menu #menu_content ul#main li:nth-last-child(2) {
  padding: 0px 3px !important;
}

#menu #menu_content ul#main li:nth-last-child(2) a {
  font-weight: 500;
  color: #fff;
  background-color: #036ecf;
  padding: 12px 12px 10px 12px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu #menu_content ul#main li:nth-last-child(2) a:hover {
  background-color: #007bff;
}

#menu #menu_content ul#main li a.active {
  color: #007bff;
}

#menu #menu_content ul#main li .dv_overlay {
  z-index: 10 !important;
  position: relative !important;
}

#menu #menu_content ul#main li .dv_overlay:hover ul.dv-content {
  position: absolute;
  opacity: 1;
  top: 100%;
  height: auto;
  z-index: -1;
}

#menu #menu_content ul#main li .dv_overlay:hover ul.dv-content li {
  display: block;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content {
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #fff;
  width: 238px;
  height: 0;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: .3s;
  z-index: -1;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li {
  position: relative;
  z-index: -1;
  display: none;
  padding: 10px 10px;
  border-bottom: 1px solid #dbbc85;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li:last-child {
  border-bottom: none !important;
  margin-bottom: 6px;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li a.sub-menu {
  padding: 6px 10px !important;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li:nth-last-child(2) {
  padding: 10px 10px !important;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li:nth-last-child(2) a.sub-menu {
  font-weight: 600 !important;
  background-color: transparent;
  color: #2a2a2a;
}

#menu #menu_content ul#main li .dv_overlay ul.dv-content li:nth-last-child(2) a:hover {
  color: #007bff;
}

@-webkit-keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
