#menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  text-align: center;
  /*box-shadow: 0px 0px 2px 0px #6c757d;*/
}

#menu #logo img {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 108px;
  height: auto;
}

#menu #sc_network a i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #8d8e8f;
  color: white;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 10px;
}

#menu #sc_network a:hover i.fa-facebook-f {
  background-color: #0e5bc0;
}

#menu #sc_network a:hover i.fa-instagram {
  background-color: #42aaf3;
}

#menu #sc_network a:hover i.fa-youtube {
  background-color: #e71b06;
}

#menu #menu_content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu #menu_content ul li {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 18px;
  z-index: 2;
}

#menu #menu_content ul li:first-child {
  position: relative;
  z-index: 3;
}

#menu #menu_content ul li a {
  font-weight: 600;
  font-size: 15px;
  color: #444647;
  padding: 38px 0px;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu #menu_content ul li a:hover {
  color: #dbbc85;
  /*background-color: #0e5bc0;*/
  /*padding:20px;*/
}

#menu #menu_content ul li:nth-last-child(2) {
  padding: 0px 3px !important;
}

#menu #menu_content ul li:nth-last-child(2) a {
  font-weight: 500;
  color: #fff;
  background-color: #036ecf;
  padding: 12px 12px 10px 12px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu #menu_content ul li:nth-last-child(2) a:hover {
  background-color: #dbbc85;
}

#menu #menu_content ul li a.active {
  color: #dbbc85;
}

#menu #menu_content #dv_overlay {
  z-index: 2;
}

#menu #menu_content #dv_overlay:hover #dv_content {
  /*display: block;*/
  /*height: auto;*/
  opacity: 1;
  top: 100%;
}

#menu #menu_content #dv_overlay #thuvien_overlay {
  z-index: 2;
}

#menu #menu_content #dv_overlay #thuvien_overlay:hover #thuvien_content {
  /*display: block;*/
  /*height: auto;*/
  opacity: 1;
  top: 100%;
}

#menu #menu_content #dv_overlay #dv_content {
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  top: -200%;
  left: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #fff;
  width: 200px;
  /*padding-top: 38px;*/
  /*display: none;*/
  /*height: 0;*/
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: .3s;
  z-index: -1;
}

#menu #menu_content #dv_overlay #dv_content li {
  display: block;
  padding: 10px 10px;
  border-bottom: 1px solid #dbbc85;
}

#menu #menu_content #dv_overlay #dv_content li:last-child {
  border-bottom: none !important;
  margin-bottom: 6px;
}

#menu #menu_content #dv_overlay #dv_content li a.sub-menu {
  padding: 6px 10px !important;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu #menu_content #dv_overlay #dv_content li:nth-last-child(2) {
  padding: 10px 10px !important;
}

#menu #menu_content #dv_overlay #dv_content li:nth-last-child(2) a.sub-menu {
  font-weight: 600 !important;
  background-color: transparent;
  color: #2a2a2a;
}

#menu #menu_content #dv_overlay #dv_content li:nth-last-child(2) a:hover {
  color: #dbbc85;
}

#menu #menu_content #dv_overlay #thuvien_content {
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  top: -200%;
  left: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #fff;
  width: 200px;
  /*padding-top: 38px;*/
  /*display: none;*/
  /*height: 0;*/
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: .3s;
  z-index: -1;
}

#menu #menu_content #dv_overlay #thuvien_content li {
  display: block;
  padding: 10px 10px;
  border-bottom: 2px solid #dbbc85;
}

#menu #menu_content #dv_overlay #thuvien_content li:last-child {
  margin-bottom: 10px;
}

#menu #menu_content #dv_overlay #thuvien_content li a {
  padding: 6px 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu #menu_content #dv_overlay #thuvien_content li:nth-last-child(2) a {
  background-color: transparent;
  color: #2a2a2a;
}

#menu #menu_content #dv_overlay #thuvien_content li:nth-last-child(2) a:hover {
  color: #dbbc85;
}

#tv_overlay {
  position: relative;
}

#tv_overlay .tv-content {
  position: absolute;
  top: -200%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s;
  height: 30px;
  opacity: 0;
}

#tv_overlay .tv-content a {
  position: relative;
  margin: 0;
  padding: 12px 6px !important;
  display: none;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  min-width: 118px;
  text-align: center;
}

#tv_overlay .tv-content ul {
  padding-left: 6px;
  padding-right: 6px;
}

#tv_overlay .tv-content ul li {
  display: block;
  padding: 6px 10px !important;
  border-bottom: 1px solid #dbbc85;
}

#tv_overlay .tv-content ul li:last-child {
  border-bottom: none !important;
}

#tv_overlay .tv-content ul li:nth-last-child(2) a.sub-menu {
  padding-bottom: 6px !important;
  background-color: transparent !important;
  color: #1b1e21 !important;
  font-weight: 600 !important;
}

#tv_overlay .tv-content ul li a.sub-menu {
  padding: 6px 10px !important;
  -webkit-transition: .3s;
  transition: .3s;
}

#tv_overlay:hover .tv-content {
  opacity: 1;
  height: auto;
  top: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#tv_overlay:hover .tv-content a {
  display: inline-block;
}

#hera_mobile_menu #logo img {
  width: 100px;
  height: auto;
}

#hera_mobile_menu_content {
  width: 100%;
  height: auto;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  -webkit-box-shadow: 0px 0px 2px 0px #2a2a2a;
          box-shadow: 0px 0px 2px 0px #2a2a2a;
  transition: .3s;
  top: 80%;
  opacity: 0;
  z-index: -30;
}

#hera_mobile_menu_content ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

#hera_mobile_menu_content ul li {
  width: 100%;
  padding: 10px 20px;
}

#hera_mobile_menu_content ul li:nth-last-child(3) a {
  padding: 10px 20px;
  background-color: #0f74a8;
  color: white;
  border-radius: 5px;
}

#hera_mobile_menu_content ul li a {
  color: #2a2a2a;
  font-size: 18px;
}

#hera_mobile_menu_content ul li a i {
  height: 38px;
  width: 38px;
  background-color: #6c757d;
  color: white;
  border-radius: 50%;
  line-height: 38px;
}

#hera_mobile_menu_content ul li a.active {
  color: #dbbc85;
}

#hera_mobile_menu_content ul li p {
  font-size: 20px;
  color: #0f74a8;
}

#hera_mobile_menu_content ul li p span {
  color: #2a2a2a;
}

#hera_mobile_menu_content ul li p i {
  height: 38px;
  width: 38px;
  background-color: #0f74a8;
  color: white;
  border-radius: 50%;
  line-height: 38px;
}

#demo, #demo2 {
  height: 0;
  padding-left: 38px;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  -webkit-transition: 1s;
  transition: 1s;
}

#demo a, #demo2 a {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #2a2a2a;
}
