#h_1 {
  #gioi_thieu {
    a {
      //color: $sub-color2;
      color: red;
      h6 {
        font-size: 28px;
        padding-bottom: 20px;
        font-weight: 600;
      }
    }
    border: 3px solid white;
    padding: 20px;
    color: white;
  }

  p{
    line-height: 26px;
    a{
      color: white;
      transition: .3s;
    }
    a:hover{
      color: $main-color;
    }
  }

  #thuvien_hinhanh{
    width: 100%;
    height: 296px;
    overflow: hidden;
    position: relative;
    .img-daidien{
      width: 100%;
      height: 100%;
      //background-image: url(/hera/images/uploads/thuc-doi-tiec-cuoi-riversideplace1-494.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      transition: .3s;

      .img-overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(00,00,00,0.6);
        opacity: 0;
        transition: .3s;

        a{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          z-index: 2;
          color: $sub-color2;
          font-size: 11px!important;
          background-color: #fff;
          border-radius: 20px;
          /*border-radius: 12px;*/
          padding: 10px 12px 8px 12px;
          transition: 0.3s;
          opacity: 1;
          font-weight: normal;
          &:hover{
            background-color: $sub-color2;
            color: white;
          }
        }

      }
      &:hover{
        transform: scale(1.3);
      }
      &:hover .img-overlay{
        opacity: 1;
      }

    }


  }
  #thuvien_hinhanh:before{

    z-index: 2;
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    top:10px;
    left: 10px;
    opacity: 0;
    transition: .3s;

  }

  #thuvien_hinhanh:after{

    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    right:10px;
    bottom: 10px;
    opacity: 0;
    transition: .3s;
    z-index: 2;

  }

  #thuvien_hinhanh:hover:after{
    width: 68px;
    height: 68px;
    opacity: 1;
  }

  #thuvien_hinhanh:hover:before{
    width: 68px;
    height: 68px;
    opacity: 1;
  }

}



@media only screen and (max-width: 800px) {
  #h_1 #gioi_thieu{
    margin-bottom: 20px;
  }
}