#h_2
{#bg_dichvu2 {
  //{{--background-image: url({{URL::asset('images/bg/banner-dich-vu-food-decor.jpg')}});--}}
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  /*background-attachment: fixed;*/
  p{
    color: white!important;
    font-size: 68px!important;
    font-weight: 600;
    padding: 118px 0;
    text-transform: uppercase;
  }
}

  .dv-content{
    min-height: 380px;
    overflow: hidden;
    position: relative;
    #hoi_nghi{
      //background-image: url(images/uploads/div1.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      min-height: 380px;
      transition: .3s;

    }

    #tiec_cuoi{
      //background-image: url(images/uploads/dv2.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      min-height: 380px;
      transition: .3s;
    }
    #su_kien{
      //background-image: url(images/uploads/dv3.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      min-height: 380px;
      transition: .3s;
    }
    #tiec_ngoai_troi{
      //background-image: url(images/uploads/dv4.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      min-height: 380px;
      transition: .3s;
    }
    &:hover div{
      transform: scale(1.2);
    }
    p{
      width: 100%;
      display: inline;
      font-size: 31px;
      color: white;
      font-weight: 600;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-shadow: 0px 0px 1px white;
      text-transform: uppercase;
    }
  }
}

