#h_3 {
  h5 {
    font-size: 36px;
    font-weight: bold;
    color: $sub-color2;
  }

  .tin-tuc{
    width: 90%;
    margin: auto;
    h3{
      color: $main-color;
      font-size: 18px;
      padding: 10px 0 ;
      text-align: center;
      min-height: 73px;
      max-height: 73px;
      overflow-y: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    p{
      color: white;
      font-size: 16px;
      padding: 10px 0 ;
      text-align: center;
      line-height: 24px;
    }
    .btn-docthem{

      padding: 10px 18px 8px 18px;
      background-color: #007bff;
      border-radius: 5px;
      width: fit-content;
      margin: auto;
      font-size: 15px;
      font-weight: 600;
      transition: .3s;
    }
    .btn-docthem a{
      color: white;
      transition: .3s;
      padding: 10px 16px;
      &:hover{
        background-color: transparent;
      }
      &:hover a{
        color: white;
      }
    }
    .img-tin-tuc{
      width: 100%;
      min-height: 238px;
      -webkit-background-size: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }


  }

}

@media only screen and (max-width: 800px) {
  #h_3 .tin-tuc{
    margin-bottom: 38px;
  }
}