$main-color: #dbbc85;
#sd_1 {
  #bg_dichvu {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    /*background-attachment: fixed;*/
    padding-bottom: 30px;
    p {
      color: white;
      font-size: 58px;
      font-weight: 600;
      padding: 38px 0 16px 0;
    }
    span {
      color: white;
      font-size: 13px;
      a {
        color: white;
      }
    }
  }

  #noidung {
    h5 {
      font-size: 22px;
      padding-bottom: 38px;
    }
    h6 {
      padding-top: 50px;
      padding-bottom: 20px;
      font-size: 22px;
      color: $main-color;
    }
    p {
      color: white;
      line-height: 24px;
      padding-bottom: 20px;

    }
    #sd-bottom {
      .sd-bottom-carousel {
        position: relative;
        margin-bottom: 20px;
        &:hover {
          .nav-arrow {
            //opacity: 1;
            //top: 50%;
            ////left: 50%;
            //transform: translate(0, -50%);
            button.owl-prev, button.owl-next{
              opacity: 1;
              top: 50%;
              transform: translate(0, -50%);
            }
          }
        }
        .nav-arrow {
          //transition: all 0.2s;
          //position: absolute;
          //z-index: 999;
          //top: 0;
          //opacity: 0;
          //width: 100%;
          button.owl-prev, button.owl-next {
            transition: all 0.2s;
            top: 0;
            opacity: 0;
            border: 1px solid #e4e4e4;
            position: absolute;
            transition: all 0.2s;
            z-index: 900;
            width: 40px;
            height: 40px;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            background-color: white;
            outline: none;
            i {
              color: #e4e4e4;
              font-size: 30px;
              display: flex;
              width: 100%;
              height: 100%;
              align-items: center;
              justify-content: center;

            }
          }
          button.owl-prev {
            left: 0;
            //margin-left: -20px;
          }
          button.owl-next {
            right: 0;
            //margin-right: -20px;
          }
        }
        .one-item {
          a {
            img.img-one-project {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}


