#bg_dichvu {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  padding-top: 96px;
  padding-bottom: 106px;

  p {
    color: white;
    font-size: 56px;
    font-weight: 600;
    padding: 38px 0 16px 0;
  }

  span {
    color: white;
    font-size: 13px;
    a {
      color: white;
    }
  }
}

@media only screen and (max-width: 1300px) {
  #bg_dichvu{
    margin-top: 0px;
  }
}