$main-color: #dbbc85;
$sub-color2: #007bff;
#menu {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  text-align: center;
  &.stuck {
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: stuckMoveDown .6s;
    z-index: 999;
  }
  /*box-shadow: 0px 0px 2px 0px #6c757d;*/
  #logo img {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 108px;
    height: auto;
  }
  #sc_network {
    a {
      i {
        font-weight: normal;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        //background-color: #b0b0b0;
        color: white;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        transition: .3s;
        margin-right: 10px;
      }
      i.fa-facebook-f {
        background-color: #0e5bc0;
      }
      &:hover i.fa-facebook-f {
        background-color: #0e5bc0;
      }
      &:hover i.fa-instagram {
        background-color: #42aaf3;
      }
      i.fa-instagram {
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-position: center center;
      }

      &:hover i.fa-youtube {
        background-color: #e71b06;
      }
      i.fa-youtube {
        background-color: #e71b06;
      }

    }
  }

  #menu_content {
    ul#main {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        position: relative;
        display: inline-flex;
        padding: 0px 18px;
        z-index: 12;

        a {
          font-weight: 600;
          font-size: 15px;
          color: #444647;
          padding: 38px 0px;
          transition: .3s;
          text-transform: uppercase;
          &:hover {
            color: $sub-color2;
            /*background-color: #0e5bc0;*/
            /*padding:20px;*/
          }
        }

        &:nth-last-child(2) {
          padding: 0px 3px !important;

          a {
            font-weight: 500;
            color: #fff;
            background-color: #036ecf;
            padding: 12px 12px 10px 12px;
            border-radius: 5px;
            transition: .3s;
            &:hover {
              background-color: $sub-color2;
            }
          }
        }
        a.active {
          color: $sub-color2;
        }

        .dv_overlay {
          z-index: 10 !important;
          position: relative !important;
          &:hover {
            ul.dv-content {
              position: absolute;
              opacity: 1;
              top: 100%;
              height: auto;
              z-index: -1;
              //height: auto;
              li {
                display: block;
              }
            }
          }

          ul.dv-content {
            padding-left: 6px;
            padding-right: 6px;
            position: absolute;
            top: 120%;
            left: 50%;
            transition: .3s;
            background-color: #fff;
            width: 238px;
            height: 0;
            opacity: 0;
            transform: translateX(-50%);
            transition: .3s;
            z-index: -1;
            li {
              position: relative;
              z-index: -1;
              display: none;
              padding: 10px 10px;
              border-bottom: 1px solid $main-color;
              &:last-child {
                border-bottom: none !important;
                margin-bottom: 6px;
              }
              a.sub-menu {
                padding: 6px 10px !important;
                transition: .3s;
              }
              &:nth-last-child(2) {
                padding: 10px 10px !important;
                a.sub-menu {
                  font-weight: 600 !important;
                  background-color: transparent;
                  color: #2a2a2a;
                }
              }
              &:nth-last-child(2) a:hover {
                color: $sub-color2;
              }
            }

          }

        }

      }
    }

  }
  @keyframes stuckMoveDown {
    0% {
      transform: translateY(-100%)
    }
    100% {
      transform: translateY(0)
    }
  }
}




